html {
  position: relative;
  min-height: 100%;
}
body{
    background-color: #3498db;
    color: white;
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

  height: 65px;
  background: rgba(255,255,255,0.2);
  border-top: solid thick white;
}
.container .footer-pad{
    margin: 20px 0;
}
.title{
    margin-top:5%;
}
.box {
    background:rgba(255,255,255,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 30px 30px 30px;
    margin-top:5%;
    border: solid thick white;
}
.btn,
.btn:focus,
.btn:hover,
.btn:active
{
    color: #ffffff;
    background-color: #3498db;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}